{% extends "auctions/layout.html" %}

{% block body %}
    {% if listings %}
        <h2 style="padding-left:20px">Watchlist ({{ listings|length }})</h2>
        {% for listing in listings %}
            {% include "auctions/listing_card.html" %}
        {% endfor %}
    {% else %}
        <div style="padding-left:20px">
            <h2>Watchlist</h2>
            <div style="margin-left: 20px">
                Your watchlist is empty. 
                Why don't you <a href="{% url 'create' %}">create a listing</a> or <a href="{% url 'index' %}">browse others?</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
